@import "styles/unit.scss";

.section{
    width: 100%;
    padding: rem(40) 0;
    background: var(--bg-color);
    
    .list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: rem(24);
    
        & > *{
            max-width: calc(25% - 18px);
        }
    }
}
