@import "styles/unit.scss";

.Properties {
  padding: rem(40) 0;
  .btns {
    display: flex;
    gap: rem(24);
    .btn {
      height: rem(44);
      color: var(--secondary-color);
      background: transparent;
    }
    .activeBtn {
      background: var(--btn-color);
      color: var(--primary-color);
    }
  }
}
