@import "styles/unit.scss";

.section {
  &__body {
    background: var(--bg-color);
    padding: rem(40) 0 rem(76);
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(24);
      .card {
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.02);
        border-radius: rem(12);
        background: var(--white-color);
        padding: rem(32) rem(60) rem(32) rem(24);
        .date {
          color: var(--text-color);
          font-size: rem(16);
          line-height: rem(28);
        }
        .description {
          margin-top: rem(24);
          font-size: rem(18);
          line-height: rem(30);
          color: var(--primary-color);
        }
        .more {
          margin-top: rem(32);
          font-size: rem(16);
          line-height: rem(28);
        }

        a {
          margin-top: rem(4);
          font-size: rem(18);
          line-height: rem(30);
          color: #0e73f6;
        }
      }
    }
  }
}
