@import "styles/unit.scss";

.card{
    min-height: rem(448);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: rem(24) rem(12);
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.7) 35.58%, rgba(0, 0, 0, 0.68) 52.16%, rgba(0, 0, 0, 0) 100%);
    background-image: url('/images/bgImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: rem(8);

    &__info{
        display: flex;
        flex-direction: column;
        gap: rem(12);
    }

    &__title{
        width: 100%;
        font-weight: 700;
        font-size: rem(16);
        line-height: rem(18);
        color: var(--white-color);
    }

    &__date{
        font-size: rem(13);
        line-height: rem(18);
        color: var(--white-color);
    }

    &__btn{
        display: none;
        border: none;
        background: transparent;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
        animation: show 0.6s ease;

        & > span{
            font-weight: 600;
            font-size: rem(16);
            line-height: rem(24);
        }
    }

    .line{
        display: none;
        width: 100%;
        height: rem(1);
        background: var(--strok-color);
        opacity: 0.24;
        transition: all 0.3s;
    }

    &:hover{
        .card__btn, .line{
            display: flex;
        }
    }
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}