@import "styles/unit.scss";

.card {
    width: 100%;
    min-height: rem(300);
    padding: rem(24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 7e-05) 0%, rgba(0, 0, 0, 0.0109804) 9.22%, rgba(0, 0, 0, 0.0384314) 18.76%, rgba(0, 0, 0, 0.0823529) 28.48%, rgba(0, 0, 0, 0.14) 38.19%, rgba(0, 0, 0, 0.203137) 47.75%, rgba(0, 0, 0, 0.27451) 56.99%, rgba(0, 0, 0, 0.351373) 65.75%, rgba(0, 0, 0, 0.42549) 73.87%, rgba(0, 0, 0, 0.496863) 81.18%, rgba(0, 0, 0, 0.56) 87.52%, rgba(0, 0, 0, 0.617647) 92.74%, rgba(0, 0, 0, 0.661569) 96.66%, rgba(0, 0, 0, 0.68902) 99.14%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: rem(12);
    background-image: url('/images/bgImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__title{
        font-weight: 700;
        font-size: rem(24);
        line-height: rem(32);
        letter-spacing: rem(-0.33);
        color: var(--white-color);
        text-align: center;
        margin-bottom: rem(4);
    }

    &__btn{
        border: none;
        background: transparent;
        cursor: pointer;
        & > span{
            color: var(--white-color);
            font-size: rem(16);
            line-height: rem(24);
        }
        & > svg{
            transform: rotate(-90deg);
            margin-left: rem(4);
            color: var(--white-color);
            width: rem(10);
        }
    }
}